# only add build artifacts concerning coredns - no editor related files
coredns
coredns.exe
build/
release/
vendor/
.idea/
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
